* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #08101e;
}

a {
    text-decoration: none;
    color: white;
}

.top {
    margin-bottom: 99px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: center;
}

.header__links {
    padding: 39px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
}

.container {
    width: 1147px;
    margin: 0 auto;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.top__content__info {
    width: 45%;
}

.top__content__heading-2 {
    margin-bottom: 10px;
    color: steelblue;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    text-transform: uppercase;
}

.top__content__heading-1 {
    margin-bottom: 40px;
    color: white;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
}

.top__text {
    color: white;
    margin-bottom: 40px;
    opacity: 0.7;
}

.top__buttons {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.buttons {
    background-color: steelblue;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.3 sec;
}

.buttons:hover {
    background-color: white;
    color: steelblue;
    border: 2px solid white;
}

.middle {
    padding-top: 157px;
    padding-bottom: 221px;
}

.middle__content {
    margin-bottom: 264px;
    align-items: center;
    flex-direction: row;
    gap: 68px;
}

.middle__info__title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.middle__info__text {
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
}

.middle__buttons {
    display: flex;
    margin-top: 50px;
}

.middle__grid__bloсk {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.middle__block {
    border-radius: 10px;
    padding: 30px;
    background: rgb(19, 32, 53, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.middle__grid__large__cell {
    grid-area: 2/1/4/3;
    gap: 60px;
    /* aspect-ratio: 1 / 1; */
}

.middle__block__heading-2 {
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
    opacity: 0.7;
}

.middle__block__text {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: center;
    opacity: 0.7;
}

.bottom {
    padding-top: 200px;
    padding-bottom: 200px;
}

.bottom__content__heading-1 {
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
}

.bottom__content__info {
    width: 45%;
}

.bottom__text {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    text-align: left;
    opacity: 0.7;
    width: 80%;
}

.footer {
    padding-top: 48px;
    padding-bottom: 46.11px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30.18px;
}

.footer__info__title,
.footer__about__title,
.footer__social__title {
    margin-bottom: 33px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.flex_footer {
    display: flex;
}

.email,
.phone,
.adress {
    color: whitesmoke;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.email {
    padding-bottom: 24.4px;
}

.phone {
    padding-bottom: 26px;
}

.footer__about__text {
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 250;
    line-height: 16px;
    text-align: left;
    max-width: 74%;
    opacity: 0.6;
}

.footer__social_site {
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.footer__social__icons {
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

.fa-brands {
    font-size: 16px;
}